<?xml version='1.1' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbRepository plugin="ghprb@1.42.0">
  <reponame>demjenkins123/JenkinsDemo</reponame>
  <pullRequests class="concurrent-hash-map">
    <entry>
      <int>1</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1</id>
        <updated>2020-01-21 10:45:48.0 UTC</updated>
        <head>2a046147c8c39f00572c8bfdfaa44e856c70c2b6</head>
        <base>887495d29689533735ff64ab5d3fc1cdd509b70e</base>
        <accepted>false</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
  </pullRequests>
</org.jenkinsci.plugins.ghprb.GhprbRepository>